@import "tailwindcss";
/* From Uiverse.io by devdariill */ 
button {
  color: #fff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #212121;
  border: 1px solid #212121;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #000, -6px -6px 12px #2f2f2f;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #000, inset -4px -4px 12px #1f1f1f;
}
